.image{
    width: 200px;
    height: 200px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
    
}
.image2{
    width: 200px;
    height: 230px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
    
}
